table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  .btn-edit,
  .btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(235, 15, 15);
    &:hover {
      background-color: transparent !important;
      color: rgb(235, 15, 15);
    }
  }
  .btn-edit {
    color: rgb(220, 235, 15);
    &:hover {
      color: rgb(220, 235, 15);
    }
  }
}

.modal-user-container {
  .modal-user-body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    .input-container {
      width: 45%;
      display: flex;
      flex-direction: column;
      &:last-of-type{
        width: 100%;
      }
      input {
        border-radius: 3px;
        height: 30px;
        border: 1px solid grey;
        outline: none;
        padding: 0 10px;
      }
    }
  }
}

