table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  .btn-edit,
  .btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(235, 15, 15);
    &:hover {
      background-color: transparent !important;
      color: rgb(235, 15, 15);
    }
  }
  .btn-edit {
    color: rgb(220, 235, 15);
    &:hover {
    color: rgb(220, 235, 15);
    }
  }
}
